.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 400px;
    gap: 50px;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
}

.grid{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px auto;
}

.image{
    height: 200px;
    width: 200px;
    object-fit: contain;
}